<header class="bg-primary py-3">
  <div class="container">
    {% include "components/navigation-main.njk" %}
  </div>
</header>

<div class="page-header">
	<h1>Medical centrum</h1>
	<h1>MUDr. Jana Červená</h1>
	<h1><small>praktický lékař pro dospělé</small></h1>
</div>





