<!DOCTYPE html>
<html lang="cs">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ settings.description }}">
    <meta name="author" content="{{ settings.copyright }}">

    <title>{{ settings.title }} - {{ settings.subtitle }}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/scrolling-nav.css" rel="stylesheet">

    <style>
        .text-x {
            color: #FF2E57;
        }

    </style>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{% set postslist = collections.posts %}
{% set partslist = collections.parts %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Rozbalit nabídku</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><strong>Medical centrum</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>

{% for menu in partslist %}
{% if menu.data.show == true %}
<li>
    <a class="page-scroll" href="#{{ menu.data.id }}">{{ menu.data.menu }}</a>
</li>
{% endif %}
{% endfor %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="zakladni-informace">
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 had backg">
                        <h1>{{ settings.title }}</h1>
                        <h1>{{ settings.subtitle }}</h1>
                        <p><strong>{{ settings.description }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br/>

{% for post in postslist | reverse %}
{% if post.data.show == true %}
<section id="{{ post.data.slug }}">
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
            	 {% if post.data.type == "normal" %}
	            	 <div class="jumbotron text-left objednavani">
	                	{{ post.data.content | safe }}
	            	</div>
            	{% endif %}
            	{% if post.data.type == "warning" %}
	            	 <div class="alert alert-danger" role="alert">
	            	 	<h3>{{ post.data.title }}</h3>
	                	{{ post.data.content | safe }}
	            	</div>
            	{% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

{% for part in partslist %}
{% if part.data.show == true %}
<section id={{ part.data.id }}>
	<div class="container">
        <div class="row">
            <div class="col-lg-12">
            	{% if part.data.type == "block" %}
	            	 <h3>{{ part.data.title }}</h3>
	            	 <div class="jumbotron text-left objednavani">            
	                	{{ part.data.content | safe }}
					</div>
				{% endif %}
            	{% if part.data.type == "inline" %}
	            	<h3>{{ part.data.title }}</h3>
	                {{ part.data.content | safe }}
				{% endif %}
				{% if part.data.type == "inline-no-title" %}
	                {{ part.data.content | safe }}
				{% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

    <footer class="footer">
      <div class="container">
      	<p>{{ settings.copyright }}</p>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

    </body>
</html>